.blue {
    color: blue;
    background-color: sandybrown;

    button {
        color: red;
        font-weight: bold;
        background-color: black;
    }
}

.red {
    color: red;
    background-color: purple;

    button {
        color: blue;
        font-weight: bold;
        background-color: black;
    }
}

